.black-button
{
   opacity: 0.8;
   position: absolute;
    left: 30%;
    height: 30px;
    width: 100px;
}
.black-button2
{
   opacity: 0.8;
   position: absolute;
   left: 30%;

}

#clear-button
{
   opacity: 0.8;
   position: absolute;
    left: 50%;
    height: 30px;
    width: 100px;
}